@media screen and (min-width: 375px) {
  .input_all {
    height: 380px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .input_all {
    height: 100%;
    justify-content: space-around;
  }
}

.input_all {
  display: flex;
  flex-direction: column;
}
